  footer {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $headerColor;
        padding: 45px 10px;
        color: $default-color;
        bottom: 0;
        width: 100%;
    }

